body {
  background-color: #05052F;
}

h1 {
  text-align: center;
  color: darkorange;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 25px;
  font-weight: 100;
}

p {
  text-align: center;
  color: whitesmoke;
  margin-top: 230px;
}

.SK {
  color: #F03D3D;
  font-size: 30px;
  font-weight: bold;
}

.logo {
  position: absolute;
  margin-left: -88px;
  left: 50%;
}

header {
  background-color: whitesmoke;
  top: 0;
  left: 0;
  position: absolute;
  width: 1280px;
  height: 210px;
}
